<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Project Title" />
     <meta property='og:image' content="<%= image_url('fakebook_img.png') %>"/>
     <meta property="og:description"
       content="A Facebook clone that allows you to connect with new/old friends."
     />
     <meta property="og:url"
       content="https://fakebook-kodi.herokuapp.com/#/login"
     />
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">      
      window.images = { 
        logo: "<%= image_url('front-body.jpg') %>"
        }   
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
